{% extends 'article/top2bttmNavbar.html' %}
{% block allArticles %}
<div class="row">
    <!-- grid -->
    {% load static %}

    <div class="col-lg-12 col-md-12">
        <div class="articlesContainer">
            <img class="articlesPageImg" src="{{ article.articlePageImage.url }}" alt="">
            <div class="articlesPageTextBlock">
                <p class="articlesPageTitle">{{ article.title }}
                <p>
                <p class="articlesPageWriter">By: {{ article.by }} | {{ article.date|date:'M d Y'|upper }}
                </p>
            </div>
        </div>
    </div>

    {% endblock %}